body {
  background-color: #F6DCA4;
  font-family: rosario red hat display;
  width: auto;
  height: auto;
}

.bannerimg {
 background-image: url(/assets/banner.jpg); 
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  
}

.container {
  height:400px;
  border-bottom: solid 1px #073C54;
}


.menuprincipal {
  text-align: center;
  margin-top:70px; 
  padding-top: 88px; } 

.menuprincipal a {
  text-decoration: none;
  font-size: 23px;
  padding: 20px;
  color: #ECFBFA;
  font-weight: 700;
  font-style: italic;

}
.menucategorias  {
  text-align: center;
  padding: 69px;
}

.menucategorias a {
text-decoration: none;
font-size: 23px;
font-weight: 700;
padding: 10px;
color: #073C54;
}

/* caixadepesquisa {
  background-image: url(/assets/icons/search.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-color: #E5E5E5;
  margin: 0 auto;
  width: 544px;
  height: 46px;
  float:right
} */ 

.produtos {
  color: #073C54;
}

.sectioncards {
  height: 480px;
  width: 978px;
  margin:0 auto;
  display: flex;
}




.imagescard {
  width: 200px;
  height: 342px;
  padding-left: 20px;
  padding-top: 22px;
}

.infoproduct {
 text-align: center;
 font-family:red hat display;
 font-size: 18px;
 font-weight: 400;
 color: #073C54;
}


.nameproduct {
padding: 20px;

}
.old {
  text-decoration: line-through;
  color: #858585;
  font-size: 18px;
  padding: 18px ;
}

.new {
  color: #073C54;
  font-size: 18px;

}
.shoppingcart {
  background-color: #49ABA4;
  border: none;
  width: 187px;
  height: 50px;
  margin-left: 22px;
  cursor: pointer;
  font-family: rosario;
  font-size: 18px;
  color: #FFFFFF;
}


.card { 
  width: 236px;
  height: 537px;
  background-color: #FFECC3;
  margin: 40px;
}

@media screen and (max-width:928px) {
  body {
    width: 369px;
  }

  .bannerimg {
    width: 370px;
    height: 194px;
    margin: 20px;
  }
.sectioncards {

}